.label {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  border: none;
  border-radius: 15px;
  padding: 3px 5px 3px 25px;
}

.icon {
  position: absolute;
  left: 5px;
}

.input:focus~.icon {
  animation: toggle .3s forwards;
}

@keyframes toggle {
  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}