.main{
  grid-column: 2/6;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.main__form{
  display: flex;
  /* width: 100%; */
  /* justify-content: stretch; */
  column-gap: 5px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content:flex-end;
}
.input__label{
  display: flex;
}
.input{
  width:auto
}
.subscribe-btn{
  
}
.main__news{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 35px;
}
.news__item{
  border: solid black 2px;
  padding: 10px;
  padding-bottom: 20px;
}
.news__item__header{

}
.news__item__content{

}