.search-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 5px 10px;
}

.search-panel__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}
