.user-row {
  position: relative;

  background-color: rgba(0, 0, 0, 0.616);
  color: var(--extra-light);
  cursor: pointer;
  transition: background-color 0.2s;
}

.user-row:hover {
  background-color: rgb(0, 0, 0);
}

.user-param-cell {
  padding: 5px 10px;
}
