.header{
  display:grid;
  grid-column: 2/6;
  grid-template-rows: min-content 1fr;
  border: solid black 2px;
  padding: 25px;
}
.header__content{
  display: flex;
  justify-content: center;
  align-items:center;
}