@import url(./nav-bar/index.css);
@import url(./header/index.css);
@import url(./main/index.css);
@import url(./footer/index.css);
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --extra-dark: rgb(5, 5, 5);
  --extra-light: white;
}
body{
  display: grid;
  padding: 10px;
  height: 100vh;
  grid-template-columns: min-content repeat(2,1fr);
  grid-auto-rows: min-content 1fr min-content;
  grid-gap: 25px 15px;
}
@media (max-width:1440px) {
  body{
    grid-auto-rows: min-content 1fr 1fr min-content;
  }
}
@media (max-width:1024px) {
  body{
    grid-gap: 25px 0;
  }
}
@media (max-width: 425px){
  body{
    padding: 25px;
  }
}