@import url(./nav-bar/index.css);
@import url(./header/index.css);
@import url(./main/index.css);
@import url(./footer/index.css);

*{
  box-sizing: border-box;
  --extra-dark: rgb(5, 5, 5);
  --extra-light: white;
  --spacing-1: 5px;
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-3: calc(var(--spacing-1) * 3);
  --spacing-4: calc(var(--spacing-1) * 4);
  --spacing-5: calc(var(--spacing-1) * 5);
  --spacing-6: calc(var(--spacing-1) * 6);
}

body{
  height: 100vh;
  min-height: 100vh;
}

ul,h1,h2,h3{
   margin: 0;
  padding: 0;
}

.body__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  height: 100%;
  padding: 10px;
}

.page-content__wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.main-content__wrapper{
  flex: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

@media (max-width: 768px){
  .body__wrapper{
    padding: 25px;
  }
}
