.nav-bar {
  background-color: var(--extra-dark);
}

.links-list {
  display: flex;
  list-style: none;
}

.links-item {
  height: 100%;
  padding: 12px 10px;
  cursor: pointer;
  transition: background-color .3s
}

.links-item:hover {
  background-color: var(--extra-light);
}

.links-item:hover .link {
  color: var(--medium-dark);
}