.footer{
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border-top: solid black 2px;
  padding: 10px 0 5px 0;
}
.footer__link-list{
  list-style: none;
  display: flex;
}
.footer__link-list__item{
  border-right: solid black 2px;
  padding: 0 3px 0 3px;
}
.footer__link-list__item:last-child{
  border-right: 0;
  padding-right: 0;
}
.footer__link-list__item a{
  text-decoration: none;
  color:black;
}
.footer__link-list__item:hover{
  background-color: black;
  transition: background-color .3s;
}
.footer__link-list__item:hover a{
  color: white;
  transition: color .2s;
}
.footer__link-list_flex-end{
  justify-self: end;
}
.footer__link-list__social-media-item{
  width: 24px;
  height: 24px;
}
.social-media-link{
  width: 100%;
  height: 100%;
}