.header{
  display:grid;
  grid-column: 2/-1;
  grid-template-rows: min-content 1fr;
  border: solid var(--extra-dark) 2px;
  padding: 25px;
  min-height: 200px;
}

.header__content{
  display: flex;
  justify-content: center;
  align-items:center;
}