.my-button {
  border-radius: 15px;
  border: 2px solid var(--extra-dark);
  background-color: transparent;
  color: var(--extra-dark);
  cursor: pointer;
  transition: background-color 0.3s, color 0.2s;
}

.my-button:hover,
.my-button:focus {
  background-color: var(--extra-dark);
  color: var(--extra-light);
}

.my-button:disabled {
  opacity: 0.6;
}
